name: Create Databricks Job

on:
  push:
    branches: ["main"]

jobs:
  create-job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Databricks CLI
      uses: databricks/setup-cli@main

    - name: Create Job from JSON
      run: |
        export DATABRICKS_HOST="https://adb-3960540793376249.9.azuredatabricks.net"
        export DATABRICKS_TOKEN="dapid3a57493b9c391800057de63f3f43dbb-3"
        databricks jobs create --json @GitDeploy/pipeline_config/pipeline-validation-workflow.json
