name: CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install NEW Databricks CLI
      run: |
        curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh

    - name: Configure Databricks Auth
      env:
        DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
        DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
      run: |
        databricks auth login --host "$DATABRICKS_HOST" --token "$DATABRICKS_TOKEN"

    - name: Deploy to Azure Databricks Workspace
      run: |
        databricks workspace import-dir . /Workspace/Users/sachin.kumar@snp.com/GitDeploy --overwrite
